<div>
    <h1>Login</h1>
    <form action="http://localhost:3000/login" method="POST">
        <label for='email'>Email</label><br><br>
        <input type="email" id="email" name='email'><br><br>
        <label for='password'>Password</label><br><br>
        <input type="password" id="password" name='password'><br><br>
        <input type='submit' value='Submit'>
    </form>
    <br>
    <form action="http://localhost:3000/register">
        <input type="submit" value="Register"></button>
    </form>

</div>