<div>
    <h1>Register</h1>
    <form action="http://localhost:3000/register" method="POST">
        <label for='email'>Email</label><br><br>
        <input type="email" id="email" name='email'><br><br>
        <label for='name'>Name</label><br><br>
        <input type="text" id="name" name='name'><br><br>
        <label for='password'>Password</label><br><br>
        <input type="password" id="password" name='password'><br><br>
        <input type='submit' value='Submit'>
    </form>
</div>